.carousel h2 {text-align:center
}
.carousel{padding:5px;}
.main-information > h2{text-align: center;}
.main-information> h3{text-align: center;}

footer {
color:gray;
font-size:0.8rem;
padding: 0 15px;
text-align: center;
}
